<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>nl.studiopieters.photobooth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photobooth</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sumupmerchant</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Photobooth gebruikt de camera om foto's te maken voor jouw fotostrip.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Photobooth gebruikt het lokale netwerk om te printen via AirPrint.</string>
	<key>PHOTOBOOTH_PRICE</key>
	<string>$(PHOTOBOOTH_PRICE)</string>
	<key>SUMUP_AFFILIATE_KEY</key>
	<string>$(SUMUP_AFFILIATE_KEY)</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
